.products{
    margin: 0 auto;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: unset;
    padding-top: 50px;
    text-align: unset;
}

.page-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.butt{
    min-height: 40px;
  font-size: 16px;
  color: #FFFFFF;
  width: 120px;
  height: 40px;
  background: #2376ae;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: auto;
  align-self: flex-end;
  justify-self: flex-end;
  cursor: pointer;
}

.delete h1{
    margin-bottom: 20px;
}
.delete .inputs{
    display: flex;
}
.delete .inputs .v-select{
    width: 200px;
    margin-right: 50px;
}

.delete{
    margin-bottom: 50px;
}

.add .inputs{
display: flex;
}

.add h1{
    margin-bottom: 20px;
}

.add input{
    width: 200px;
    height: 34px;
    border: 1px solid rgba(60,60,60,.26);
    border-radius: 5px;
    font-size: 17px;
    margin-right: 50px;
}